$box-shadow-logo: 0 14 24 rgba(139, 139, 139, 0.25);
$black: #111111;
$grey: rgba(133, 133, 133, 0.3);
$primary: #BEAD8E;
$btn-border: rgba(255, 255, 255, 0.3);
$text-input: rgba(104, 104, 104, 1);
$light-grey: rgba(248, 248, 248, 1);
$number-grey: rgba(34, 34, 34, 0.04);
