@import url(resetScss.scss);
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(temporalClass.scss);
@import url(footer.scss);
@import url(navbar.scss);

//Color variables
$black: rgb(17, 17, 17); // También hay enos que es #222222
$grey: rgba(133, 133, 133, 0.3);
$primary: rgb(190, 173, 142);
$booking: rgba(189, 189, 189, 1); //Me parece un botón de disabled
$offer: rgba(222, 87, 119, 1);
$btn-border: rgba(255, 255, 255, 0.3);
$text-input: rgba(104, 104, 104, 1);
$light-gray: rgba(248, 248, 248, 1); //Se usa en el footer de abajo y ciertos elementos grisáceos  || Hay cierta inconsistencia con los colores.
$other-black: rgba(34, 34, 34, 1);
$number-grey: rgba(34, 34, 34, 0.04);
$subtitle: rgba(119, 119, 119, 1);
$feature-dark-bg: rgba(41, 41, 41, 1);
$arrow: rgba(220, 220, 220, 1);
$white: rgba(255, 255, 255, 1);

//Box-shadow
$box-shadow-logo-card: 0 14px 24px rgba(139, 139, 139, 0.25);
$box-shadow-items: 0px 8px 16px rgba(138, 138, 138, 0.05);
$box-shadow-card-founder: 0px 14px 24px rgba(190, 173, 142, 0.27);

body {
  font-family: 'Archivo', sans-serif;
}



@mixin btn($bg, $text-color, $border: $bg, $bg-hover: $text-color, $text-hover: $bg) {
  font-family: 'Archivo', sans-serif;
  max-width: 290px;
  height: 3.75rem;
  background: $bg;
  padding: 0.75rem 2rem;
  color: $text-color;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  transition: 0.5s;
  border: 2px solid $border;
  margin: 12px 0;
  margin-right: 15px;

  &:hover {
    background-color: $bg-hover;
    color: $text-hover;
  }
}



.btn-primary {
  @include btn($primary, $white);
}

.btn-secondary {
  @include btn(transparent, $white, $grey, $grey, $white);
}

@mixin btn-social {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: $light-gray;
  transition: fill 200ms, background 400ms;

  path {
    fill: $subtitle;
  }

  &:hover {
    background-color: $primary;

    path {
      fill: $white;
    }
  }
}

@mixin input {
  border-bottom: 2px solid $primary;

  &:focus-visible {
    border-bottom: 2px solid $primary;
    outline: none;
  }
}

@mixin label ($text-color: $black) {
  font-family: 'Roboto', sans-serif;
  /*TODO debería ser Roboto*/
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  display: grid;
  gap: 14px;
  color: $text-color;
  margin: 1rem auto;
}

label {
  @include label;
}

.input--bottom-border {
  @include input;
  width: 90%;
  max-width: 335px;
}

.social-media__container {
  display: flex;
  gap: 0.625rem;
}

.social-media {
  @include btn-social;
  cursor: pointer;
}

/*Para los mini titulos*/
@mixin section__title {
  text-transform: uppercase;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.125rem;
  letter-spacing: 2.8px;
}

@mixin base-text ($font, $textColor, $fontSize: 0.875rem) {
  font-family: $font;
  font-weight: 400;
  font-size: $fontSize;
  line-height: 24px;
  color: $textColor;
}

@mixin m-tb ($value) {
  margin-top: $value;
  margin-bottom: $value;
}

.title {
  @include base-text('Old Standard TT', inherit, 3.5rem);
  @include m-tb(2.5rem);
  line-height: 3.75rem;
  letter-spacing: -1.2px;
}

.small-uppercase {
  @include section__title;
  @include m-tb(2rem);
}

.text {
  @include base-text("Archivo", $subtitle);
}

.text-black-roboto {
  @include base-text("Roboto", inherit);
  line-height: 22px;
}

.small-title {
  @include base-text("Old Standard TT", $other-black , 1.5rem);
  letter-spacing: -0.72px;
}

.md-title {
  @include base-text("Old Standard TT", inherit, 1.875rem);
  @include m-tb(1.75rem);
  line-height: 30px;
  letter-spacing: -0.9px;
}


.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

/* IMPROVE se podría hacer un scss para solo las cabeceras*/
.header {
  background-color: $feature-dark-bg;
  padding: 4.6875rem 1.25rem;
  color: $white;

  .header__container {
    // width: 75%;  media query
    margin: 0 auto;
    max-width: 660px;
  }

  .btn-primary,
  .btn-secondary {
    width: 216px;
  }
}

.check__rooms {
  background: $other-black;
  padding: 2.25rem 1.25rem;

  .check__rooms__form {
    margin: 0 auto;
    max-width: 335px;
  }

  .check__rooms__form label {
    color: $white;
  }
}

.about-us {
  margin: 60px auto;

  .about-us__container {
    width: 90%;
    max-width: 457px;
    margin: 30px auto;

  }

  .btn-primary {
    width: 216px;
  }

  .about-us__gallery {
    max-width: 270px;
    margin: 30px auto;

  }

  .about-us__gallery__info {
    height: 300px;
    text-align: center;
    padding: 35px;

    .text-black-roboto {
      width: 200px;
    }
  }

  .about-us__gallery__info--bg-dark {
    background-color: $other-black;
    color: $white;
  }

}

.rooms-slider {
  text-align: center;
}

.promotional-video {
  background-color: $other-black;
  padding: 60px 20px 48px;
  color: $white;

  .small-uppercase {
    color: $primary;
  }

  .btn-primary {
    /*IMPROVE This changed is repeated a few times*/
    width: 216px;
  }

  .promotional-video__container {
    width: 90%;
    max-width: 500px; // The max width with the iframe video is 1174px
    margin: 0 auto;
  }

  .promotional-video__iframe {
    height: 270px;
    margin: 1rem auto;
  }
}

.slide-feature__feature {
  // max-width: 375px;
  padding: 5rem 2.375rem;
}

.food-menu {
  padding: 20px;
}

.food {
  margin: 16px auto;
  display: grid;
  grid-template-columns: 120px 185px;
  align-items: center;
  gap: 1.875rem;

}

.section__projects {
  background: $other-black;
  color: $white;
  font-weight: 700;
  text-align: center;

  .text {
    font-weight: 700;
    color: $subtitle;
    line-height: 22px;
  }

  strong {
    font-size: 3.75rem;
  }
}

.nav__logo__container {
  font-weight: bold;
  text-transform: uppercase;

}

span.logo {
  background-color: aqua;
  box-shadow: $box-shadow-logo-card;
  width: 36px;
  height: 36px;
  // max-width: 80px;
  // max-height: 80px;
}
