.temporary-grey {
  background-color: lightgray;
  width: 270px;
  height: 300px;
}

.temporary-grey--small {
  width: 120px;
  height: 120px;
}

.temporary-grey--food {
  background-color: lightgray;
  width: 100%;
  height: 335px;
}

.red {
  border: 2px solid red;
}
